<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Techo Corredizo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/techo.png" alt="ion">
    <ion-card-header>
      <ion-card-title>Techo Movil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="estado">
          Estado: {{techo_state}}
        </ion-label>
        <ion-label class="estado">
          Estado: {{techo}}
        </ion-label>
      </ion-item>
    </ion-card-content>

    <div class="tenedor">
      <ion-toggle (ionChange)="toggleChangePrender($event)"></ion-toggle>
    </div>

    <br>
    <br>

  </ion-card>

</ion-content>
