<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Techo Corredizo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/techo.png" alt="ion">
    <ion-card-header>
      <ion-card-title>Techo Movil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>

    <ion-toggle color="success" [enableOnOffLabels]="true"></ion-toggle>

  </ion-card>

</ion-content>
