<ion-header>
  <ion-toolbar color="primary">
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>
      Email
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Password
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-button size="large" (click)="onLogin()">
      Login
    </ion-button>

    <ion-button size="large" routerLink="/register">
      Registrate
    </ion-button>
  </ion-item-divider>
</ion-content>