/* ion-card-header.ios {
    height: 50px;
    display: flex;
    flex-flow: column-reverse;
  }

img{
    height: 300px;
    margin-top:  80%;
   } */

   .md-card-bg .md-card-subtitle,
   .md-card-bg .md-card-title {
       position: absolute;
       top: 50%;
       color: #fff;
       width: 100%;
   }
   
   .md-card-bg .md-card-title {
       margin-top: -50px;
       text-align: center;
       color: rgba(102, 77, 77, 1);
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-weight: bold;
       font-size: 30px;
   }
   
   .md-card-bg .md-card-subtitle {
       margin-top: 10px;
       text-align: center;
       color: rgb(60, 60, 67);
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: 24px;
   }

   ion-icon {
    font-size: 3em;
}

    .mod-cards{
    text-align: center;
    color: rgb(60, 60, 67);
    background-color: #ffffff;
    height: auto;
}

    .col-grados{
        color: rgb(242, 141, 53);
        text-align: center;
    }

    .col-lluvia{
        color: rgb(24, 132, 220);
        text-align: center;
    }

    .col-hum{
        color: rgb(229, 36, 36);
        text-align: center;
    }

    h4{
        font-weight: bold;
    }

    ion-content{ 
        --ion-background-color:#F3F6FB; 
    }

    .tareas{
        height: 80px;
        margin-top: 20px;
    }
