<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
      <img class="img-sublogo" src="../../assets/letras.png" alt="ion">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form" color="light">
  <div  class="main-header"></div>

  
  <div  class="img-plant"></div>
  <div  class="img-plant3"></div>


  <ion-grid>
    <ion-row>
      <ion-col aling-self-center>
        <ion-item>
          <ion-label class="output-desing">
            Correo
            <ion-input type="text" [(ngModel)]="user.email"></ion-input>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="output-desing">
            Contraseña
            <ion-input type="password" [(ngModel)]="user.password"></ion-input>
          </ion-label>
        </ion-item>
      
        <ion-button class="button-one" size="large" (click)="onRegister()"  expand="block" color="success">
          Registrarte
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>